* {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  font-weight: bolder;
  color: #1b447f;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
    color: #444444;
}

h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #444444;
}

p {
  font-size: 1.25rem;
  font-weight: lighter;
  line-height: 2.5rem;
  color: #444444;
}

ul {
  font-size: 1.25rem;
  font-weight: lighter;
  line-height: 2.5rem;
    color: #444444;
}

header {
  background-color: #1b447f;
  padding: 2rem;
}

.contact {
  color: #444444;
  font-weight: bolder;
  font-size: 1rem;
  text-align: right;
  font-family: 'Comfortaa', cursive;
  line-height: normal;
}

.contact a {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
}

.contact a:hover {
  color: #444444;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-box {
  width: auto;
  height: auto;
  padding: 1rem 2rem 1rem;
  margin: 1rem;
  overflow: visible;
}

.flex-box:nth-child(2n+1) {
  padding: 2rem;
}

.flex-box:nth-child(2n+2) {
  background-color: #ecb722;
  border-radius: 25px;
  padding: 2rem;
  transition: background-color 1.5s ease-out;
}

nav {
  color: #ffffff;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 1rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ecb722;
}

article {
  padding: 0rem 1rem 1rem;
}

blockquote {
  display: block;
  float: right;
  text-align: right;
  padding: 1rem;
  margin: 0;
  width: 30rem;
  font-size: 2rem;
  font-weight: lighter;
  color: #03a3df;
}

.quote-mark {
  color: #1b447f;
  font-weight: bold;
}

.attribution {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #03a3df;
  padding-top: 1.5rem;
}

aside h2 {
  font-family: 'Comfortaa', cursive;
  color: #1b447f;
  font-size: 2rem;
}

aside h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  color: #444444;
}

aside p {
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  color: #444444;
  line-height: 1.5rem;
}

article img {
  display: block;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.instructor {
  width: 200px;
  height: 200px;
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% auto;
  grid-gap: 1rem;
  background-color: #ffffff;
  padding: 2rem;
}

.grid-item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.grid-item-2 {
  background-image: linear-gradient(#DDDDDD, #ffffff);
  border-radius: 1rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 2rem;
}

.grid-item-3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0rem 0rem 0rem 4rem;
}

footer {
  background-image: url('../images/footer-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 2rem;
}

footer p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5rem;
  width: 50%;
  font-weight: bold;
}

@media all and (min-width: 100px) and (max-width: 1024px) {

  nav {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.5rem;
  }

  header img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
  }

  .flex-container {
    flex-flow: column;
    justify-content: center;
  }

  .flex-box {
    width: 100%;
  }

  .flex-box:nth-child(2n+1) {
    justify-content: center;
  }

.contact {
  font-size: 3rem;
  text-align: center;
}

.contact a {
  padding-top: 1rem;
  font-size: 5rem;
}

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1rem;
    background-color: #ffffff;
    padding: 2rem;
  }

  .grid-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .grid-item-2 {
    background-image: linear-gradient(#DDDDDD, #ffffff);
    border-radius: 1rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 2rem;
  }

  .grid-item-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
    line-height: 4rem;
  }

  ul {
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 2.5rem;
      color: #444444;
  }
  blockquote {
    float: none;
    text-align: center;
    padding: 0rem;
    margin: 0;
    width: 100%;
    font-size: 3rem;
    font-weight: lighter;
    color: #03a3df;
  }

footer {
  background-color: #1b447f;
  background-image: none;
  padding: 4rem;
}

footer p {
    width: 100%;
    font-weight: lighter;
    line-height: 3rem;
    font-size: 1rem;
  }

  footer img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
